* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier; /*placeholder*/
    background: #111;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.shortcuts {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: transform 0.2s;
}

.shortcut:hover {
    transform: translateY(-2px);
}

.shortcut img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    margin-bottom: 10px;
}

.planner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.calendar h2 {
    font-size: 2rem;
}

.todo {
    background: #222;
    padding: 20px;
    border-radius: 12px
}

.todo h3 {
    margin-bottom: 15px;
}

#todoInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: #fff;
    margin-bottom: 15px;
}

#todoList {
    list-style: none;
}

#todoList li {
    padding: 10px;
    margin-bottom: 8px;
    background: #333;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    background: #ff4444;
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/*todo section h2*/

/*todo input group*/

/*category select, duration input*/

/*add btn*/

/*todo items*/

/*calender*/

/*time blocks*/

/*time slots*/

/*time label*/

/*scheduled task*/

/*scheduled task.academic*/

/*scheduled task.lifestyle*/

/*scheduled task title*/

/*remove schedule*/